<footer class='footer'>
    <div class='footer-icons'>
        <a class="nav-icon" href="https://twitter.com/scanapi_"> <img src="/assets/images/twitter.svg"></a>
        <a class="nav-icon" href="https://github.com/scanapi/scanapi"><img src='/assets/images/github-logo.svg'></a>
    </div>

    <p>
        <span>
            Copyright © 2019-2020 MIT by <a href="https://cmaiacd.com">Camila Maia Cardozo</a> 
        </span>
        <span>
            Hosted by Github Pages
        </span>
    </p>


</footer>