@import 'main';

.community {
  width: 100%;
  display: flex;
  min-height: 100vh;
  padding: 20px;

  .main {
    width: 100%;
    iframe {
      width: 420px;
      height: 315px;
    }
  }
}

@media (max-width: $screen-sm) {
  .community {
    .main {
      iframe {
        width: 100%;
      }
    }
  }
}
