section {
    margin-right: 100px;
    margin-left: 100px;
}

.cover {
    height: 25em;
    background-image: url("https://raw.githubusercontent.com/scanapi/website/master/assets/images/cover.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $darker-color;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    h1 {
        font-size: 56px;
        width: 600px;
        margin-left: 100px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    h2 {
        margin-left: 100px;
        font-size: $larger-font-size;
        width: 600px;
    }
    .cover-buttons {
        display: flex;
        margin-left: 100px;
        text-align: center;
    }
    .cover-buttons a {
        padding: 10px;
        background-color: $primary-color;
        width: 150px;
        margin-top: 2.5%;
        margin-right: 20px;
        border-radius: 20px;
        text-decoration: none;
        color: $light-color;
        font-size: $normal-font-size;
        text-transform: uppercase;
    }
}

.main-infos {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    .why-scanapi {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        h3 {
            font-size: $large-font-size;
            margin: 10px 0px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            min-width: 250px;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 40px;
        }
        img {
            height: 150px;
        }
    }
}

.section-reports {
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
        height: 350px;
        margin-left: 10px;
    }
    div {
        display: flex;
        flex-direction: column;
    }
    h2 {
        font-weight: 700;
        margin-bottom: 30px;
        color: $primary-color;
        font-size: $large-font-size;
    }
    p {
        font-size: $normal-font-size;
        line-height: 1.5;
    }
}

.section-integration-tests {
    width:80%;
    margin: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    img {
        height: 350px;
        margin-right: 10px;
    }
    div {
        display: flex;
        flex-direction: column;
    }
    h2 {
        font-weight: 700;
        color: $primary-color;
        font-size: $large-font-size;
        margin-bottom: 30px;
    }
    h3 {
        color: $primary-color;
        font-weight: bold;
    }
    p {
        font-size: $normal-font-size;
        line-height: 1.5;
        margin-bottom: 15px;
    }
}
