.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 40px;
    margin: 0;

    img {
        max-height: 350px;
        filter: drop-shadow(5px 5px 5px $shadow-color);
    }

    h2 {
        font-weight: 700;
        color: $primary-color;
        font-size: $large-font-size;
        margin-bottom: 30px;
    }

    p {
        font-size: $normal-font-size;
        line-height: 1.5;
    }
}

.cover {
    height: 25em;
    background-image: url("https://raw.githubusercontent.com/scanapi/website/master/assets/images/cover.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $darker-color;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    box-shadow: 0px 3px 10px 0px $shadow-color;
    h1 {
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    h2 {
        font-size: $larger-font-size;
        font-weight: 400;
    }
    .cover-buttons {
        display: flex;
        text-align: center;
    }
    .cover-buttons a {
        padding: 10px;
        background-color: $primary-color;
        width: 150px;
        margin-top: 15px;
        margin-right: 20px;
        border-radius: 20px;
        text-decoration: none;
        color: $light-color;
        font-size: $normal-font-size;
        text-transform: uppercase;
        filter: drop-shadow(4px 3px 5px $shadow-color);
    }
}

.cover-content {
    padding-left: 100px;
    max-width: 600px;
    box-sizing: content-box;
}

.main-infos {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    .why-scanapi {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        h3 {
            font-size: $large-font-size;
            margin: 10px 0px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            min-width: 250px;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 40px;
        }
        img {
            height: 150px;
        }
    }
}

.section-reports {
    background-color: $light-primary-color;
    box-shadow: 0px 2px 5px 0px $shadow-color;

    img {
        margin-left: 60px;
    }
    div {
        max-width: 650px;
    }
}

.section-integration-tests {
    img {
        margin-right: 60px;
    }
    div {
        max-width: 650px;
    }
    h3 {
        color: $primary-color;
        font-weight: bold;
        padding: 10px 0px;
    }
}

@media (max-width: $screen-lg) {
    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
    }

    .section-reports {
        flex-direction: column;
        img {
            margin-top: 40px;
            margin-left: 0;
            max-width: 100%;
        }
    }

    .section-integration-tests {
        flex-direction: column-reverse;
        img {
            margin-top: 40px;
            margin-right: 0;
            max-width: 100%;
        }
    }

    .cover-content {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        max-width: 100%;
    }

    .cover-buttons {
        justify-content: center;
    }
}

@media (max-width: $screen-md) {
    .cover {
        h1 {
            font-size: 44px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 30px;
        }
    }

    .cover-buttons {
        margin-top: 20px;
    }

    .main-infos {
        .why-scanapi {
            img {
                height: 100px;
            }
        }
    }
}
