.cover {
    height: 28em;
    background-image: url('/assets/images/1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $light-color;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-size: 56px;
        width: 600px;
        margin-left: 100px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    h2 {
        margin-left: 100px;
        font-size: $larger-font-size;
        width: 600px;
    }
    .cover-buttons {
        width: 150px;
        margin-left: 100px;
        background-color: $light-color;
        margin-top: 1%;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
    }
    .cover-buttons a {
        text-decoration: none;
        color: $darker-color;
        font-size: $normal-font-size;
        text-transform: uppercase;
    }
}

h2 {
    font-size: $larger-font-size;
    margin-bottom: 10px;
    margin-top: 40px;
}

section {
    width: 80%;
    margin: auto;
}

.main-infos {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    .why {
        display: flex;
        justify-content: space-around;
        font-size: $large-font-size;
        p {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img {
            width: 150px;
        }
    }
}