$base-gray: #232020;
$light-color: #FFFFFF;
$darker-color: #161616;
$primary-color: #FF7163;
$light-primary-color: #FCE8E6;
$shadow-color: #AFAFAF;
$normal-font-size: 18px;
$large-font-size: 26px;
$larger-font-size: 40px;
* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 18px;
}

body {
    margin: 0px;
    background-color: $light-color;
}

.content {
    min-height: 100vh;
}

.nav-bar {
    background-color: $base-gray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .current {
        color: $primary-color;
        opacity: 1;
    }
}

.nav-item {
    font-size: 18px;
    color: $light-color;
    flex-grow: 4;
    text-decoration: none;
    margin-right: 30px;
    opacity: 0.8;
}

.nav-icon {
    margin-right: 5px;
    opacity: 0.8;
    img {
        width: 30px;
        height: 30px;
    }
}

.nav-item:hover {
    opacity: 1;
}

.scanapi-logo {
    height: 55px;
    margin-left: 100px;
    position: relative;
    z-index: 10;
}

.footer {
    background-color: $base-gray;
    color: $light-color;
    width: 100%;
    height: fit-content;
    line-height: 1.5;
    .footer-icons {
        margin-bottom: 10px;
    }
    a {
        color: $primary-color;
        text-decoration: none;
    }
    .footer-contact {
        padding: 20px 0;
        margin: 0 100px;
        display: flex;
        justify-content: space-between;
        .footer-contact-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: right;
            span {
                margin: 3px 0;
            }
        }
    }
    .footer-copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer-copyright-text {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
        }
        .footer-copyright-text span {
            margin: 2px;
        }
    }
}
