@media only screen and (max-device-width: 480px) {
    default-navigation {
        display: none;
    }
    .sandwich-menu {
        display: block;
        position: fixed;
        z-index: 100;
    }
}